doctype html
html(lang="en")
  head
    meta(charset=utf-8)
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title 
    //- script(type='text/javascript').
    //-   if (foo) bar(1 + 5);
  body
    h1 Pug - node template engine
    #container.col
      form
        input(type="text" placeholder="Name")
        input(type="password" placeholder="Password")
        input(type="button", value="Submit")
